<h2>Create your new task :</h2>


<%= form_for(@task) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :details %>
  <%= f.submit "Create" %>
<% end %>

<p><%= link_to "Return to tasks list", tasks_path %></p>
